<div id="home">
    <div id="header-block">
        <div class="jumbotron">
            <div class="container">
                <h1>{{ 'Best accounting system'|_ }}</h1>
                <p>{{ 'of all that ever existed'|_ }}</p>
            </div>
        </div>
    </div>
    <div id="transcription-block">
        <div class="jumbotron">
            <div class="container">
                <p class="features-title">{{ 'Main features'|_ }}:</p>
                <div class="list-group">
                    <a class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex justify-content-between">
                            <h5 class="mb-1">Comfortable</h5>
                        </div>
                        <p class="mb-1">Really easy to use</p>
                    </a>
                    <a class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex justify-content-between">
                            <h5 class="mb-1">Fast</h5>
                        </div>
                        <p class="mb-1">Instant data processing</p>
                    </a>
                    <a class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex justify-content-between">
                            <h5 class="mb-1">Secure</h5>
                        </div>
                        <p class="mb-1">All information is stored in encrypted form</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="features-block">
        <div class="jumbotron">
            <div class="container">
                <p class="features-title">{{ 'Just take a look'|_ }}:</p>
                <div id="carousel" class="carousel slide" data-ride="carousel">

                    <!-- Indicators -->
                    <ul class="carousel-indicators">
                        <li data-target="#demo" data-slide-to="0" class="active"></li>
                        <li data-target="#demo" data-slide-to="1"></li>
                        <li data-target="#demo" data-slide-to="2"></li>
                    </ul>

                    <!-- The slideshow -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{{ 'assets/images/comfortable.jpg'|theme }}" alt="Comfortable">
                            <div class="carousel-caption">
                                <h3>Comfortable</h3>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{{ 'assets/images/fast.jpg'|theme }}" alt="Fast">
                            <div class="carousel-caption">
                                <h3>Fast</h3>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{{ 'assets/images/secure.jpg'|theme }}" alt="Secure">
                            <div class="carousel-caption">
                                <h3>Secure</h3>
                            </div>
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="carousel-control-prev" href="#carousel" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#carousel" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>

                </div>
            </div>
        </div>
    </div>
    <div id="footer-block">
        <div class="jumbotron">
            <div class="container">
                <button id="contacts" type="button" class="btn btn-light">
                    <a href="{{ 'contacts'|page }}">{{ 'Contacts'|_ }}</a>
                </button>
            </div>
        </div>
    </div>
</div>

{% put styles %}
    <link href="{{ 'assets/css/home.css'|theme }}" rel="stylesheet">
{% endput %}

