<div id="user">
    <div class="container">
        <br/>
        <h1 class="text-center">{{ 'User info'|_ }}</h1>
        <br/>
        <div class="col-md-6">
            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">{{ 'Name'|_ }}:</label>
                <div class="col-sm-10">
                    <input id="name" type="text" readonly class="form-control-plaintext">
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-sm-2 col-form-label">{{ 'Email'|_ }}:</label>
                <div class="col-sm-10">
                    <input id="email" type="text" readonly class="form-control-plaintext">
                </div>
            </div>
        </div>
    </div>
</div>

{% put styles %}
    <link href="{{ 'assets/css/user.css'|theme }}" rel="stylesheet">
{% endput %}

{% put scripts %}
    <script>

        $(document).ready(() => {

            $.get('/user/get').then((response) => {
                const user = response.user;

                $('#name').val(user.name);
                $('#email').val(user.email);
            });

        })

    </script>
{% endput %}
