<div id="contacts">
    <div class="container">
        <br/>
        <h1 class="text-center">{{ 'Submit your application'|_ }}</h1>
        <br/>
        <form id="contacts-form" data-request="onFakeResponse" data-request-success="showMessage()">
            <div class="form-group">
                <label for="name">{{ 'Name'|_ }}</label>
                <input
                    id="name"
                    type="text"
                    class="form-control"
                    placeholder="{{ 'Enter Your name'|_ }}"
                    required="required"
                    data-validation="length alphanumeric"
                    data-validation-length="min4"
                >
                <small class="form-text text-muted">How can we call you?</small>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input
                    id="email"
                    type="email"
                    class="form-control"
                    placeholder="{{ 'Enter Your email'|_ }}"
                    required="required"
                    data-validation="email"
                >
                <small class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <button type="submit" class="btn btn-light">Submit</button>
        </form>
    </div>
</div>

{% put styles %}
    <link href="{{ 'assets/css/contacts.css'|theme }}" rel="stylesheet">
{% endput %}

{% put scripts %}
    <script>
        $.validate({
            lang: 'es'
        });

        const showMessage = () => {
            $.oc.flashMsg({
                'text': 'We will contact You soon',
                'class': 'success',
                'interval': 3
            });
            $('#name').val('');
            $('#email').val('');
        }
    </script>
{% endput %}
