<template>
  <div class="wrapper-page">
    <div class="text-center">
      <a href="/" class="logo-lg">
        <i class="md md-equalizer"></i>
        <span>{{ t('site_name') }}</span>
      </a>
    </div>

    <div class="row">
      <div class="form-group">
        <label for="login">{{ t('login.login') }}</label>
        <input
          type="text"
          id="login"
          class="form-control"
          v-model="login"
          :placeholder="t('login.login_placeholder')"
          @keyup.enter="signin()"/>
      </div>

      <div class="form-group">
        <label for="password">{{ t('login.password') }}</label>
        <input
          type="password"
          id="password"
          class="form-control"
          v-model="password"
          :placeholder="t('login.password_placeholder')"
          @keyup.enter="signin()"/>
      </div>

      <button class="btn btn-default" @click="signin()">{{ t('login.sign_in') }}</button>
    </div>
  </div>
</template>

<script>
  import { login } from '../../api/index';
  import { showMessage } from '../../utils';

  export default {

      created() {

      },

      data() {
          return {
              login: null,
              password: null,
          };
      },

      methods: {
          signin() {
              login(this.login, this.password)
                  .then((response) => {
                      location.href = '/';
                  })
                  .catch((response) => {
                      this.login = null;
                      this.password = null;

                      showMessage('Incorrect login or password');
                  });
          },
      },
  };
</script>

<style>

</style>
