<template>
  <!-- Top Bar Start -->
  <div class="header">
    <div class="topbar">
      <!-- LOGO -->
      <div class="topbar-left">
        <div class="text-center">
          <a href="/" class="logo">
            <i class="md md-equalizer"></i>
            <span>{{ t('site_name') }}</span>
          </a>
        </div>
      </div>
      <!-- Navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="">
            <div class="pull-left">
              <button class="button-menu-mobile open-left waves-effect" @click="toggle()">
                <i class="md md-menu"></i>
              </button>
              <span class="clearfix"></span>
            </div>
            <div v-if="!$store.state.online" id="offline-mode" >
              OFFLINE MODE
            </div>
          </div>
          <!--/.nav-collapse -->
        </div>
      </div>
    </div>
  </div>
  <!-- Top Bar End -->
</template>

<script>
  export default {
      methods: {
          toggle() {
              this.$emit('hamburgerToggle');
          },
      },
  };
</script>
