<template>
  <!-- Left Sidebar Begin -->
  <div class="left side-menu">

    <div class="sidebar-inner slimscrollleft">
      <div id="sidebar-menu">
        <ul>
          <li class="has_sub">
            <a
              :class="['waves-effect', 'waves-primary', showReports ? 'subdrop' : '']"
              @click="reportsToggle()"
            >
              <i class="md md-insert-chart"></i>
              <span>{{t('sidebar.reports')}}</span>
              <span class="menu-arrow"></span>
            </a>
            <ul :class="['list-unstyled', showReports ? 'show' : '']">
              <li v-if="user.is_director">
                <router-link to="/reports/users">{{t('sidebar.by_user')}}</router-link>
              </li>
              <li>
                <router-link to="/reports/statuses">{{t('sidebar.by_statuses')}}</router-link>
              </li>
              <li v-if="user.is_director">
                <router-link to="/reports/settings">{{t('sidebar.settings')}}</router-link>
              </li>
            </ul>
          </li>
          <li class="has_sub">
            <a
              :class="['waves-effect', 'waves-primary', showCategories ? 'subdrop' : '']"
              @click="categoriesToggle()"
            >
              <i class="md md-palette"></i>
              <span> {{t('sidebar.projects')}} </span>
              <span class="menu-arrow"></span>
            </a>
            <ul v-if="categories" :class="['list-unstyled', showCategories ? 'show' : '']">
              <li v-for="category in categories">
                <a @click="categoryСlick(category.id)">{{ category.name }}</a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>

    <User :user="user"/>

  </div>
  <!-- Left Sidebar End -->
</template>

<script>
  import User from './user';

  export default {
      name: 'sidebar',

      components: {
          User,
      },

      data() {
          return {
              showCategories: false,
              showReports: false,
          };
      },

      computed: {
          categories() {
              return this.$store.state.projects.map(item => {
                  return {
                      id: item.id,
                      name: item.name,
                  };
              }) || [];
          },

          user() {
              return this.$store.state.user;
          },
      },

      methods: {
          reportsToggle() {
              this.showReports = !this.showReports;
          },

          categoriesToggle() {
              this.showCategories = !this.showCategories;
          },

          categoryСlick(cat_id) {
              if (document.documentElement.clientWidth < 767) {
                  this.$emit('hamburgerToggle');
              }

              this.$router.push('/category/' + cat_id);
          },
      },
  };
</script>
