<template>
  <div class="user-detail">
    <div class="dropup">
      <a class="profile" @click="toggleMenu()">
        <img :src="[ user.avatar ? user.avatar : '/themes/spa/static/images/no-user-avatar.png' ]" alt="user-img" class="img-circle">
        <span class="user-info-span">
          <h5 class="m-t-0 m-b-0">{{ user.name }} {{ user.surname }}</h5>
          <p class="text-muted m-b-0">
            <small>
              <icon name="circle" class="text-success" :height="12"/>
              <span>Online</span>
            </small>
          </p>
        </span>
      </a>
      <ul v-if="showMenu" class="dropdown-menu">
        <li>
          <a id="logout" @click="onLogout()">
            <i class="md md-settings-power"></i>
            {{t('Logout')}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
  import {logout, switchLocale} from '../../api/index';
  import axios from 'axios';

  export default {

      props: [
          'user',
      ],

      data() {
          return {
              showMenu: false,
          };
      },

      methods: {
          toggleMenu() {
              this.showMenu = !this.showMenu;
          },

          onLogout() {
              logout()
                  .finally(() => {
                      axios.defaults.headers.common['X-CSRF-TOKEN'] = '';
                      document.querySelector('meta[name=token]').setAttribute('content', '');
                      this.$router.push({ name: 'login' });
                  });
          },

          onSwitchLocale(locale) {
              this.showMenu = false;
              this.switchLanguage(locale);
          },
      },
  };
</script>

<style scoped>
  .dropdown-menu {
    display: block;
  }
</style>
