<ul id="menu" class="sm sm-blue">
    <li class="{{ this.page.id == 'home' ? 'active' : '' }}">
        <a href="{{ 'home'|page }}">{{ 'Home'|_ }}</a>
    </li>
    <li class="{{ this.page.id == 'about' ? 'active' : '' }}">
        <a href="{{ 'about'|page }}">{{ 'About'|_ }}</a>
    </li>
    <li class="{{ this.page.id == 'contacts' ? 'active' : '' }}">
        <a href="{{ 'contacts'|page }}">{{ 'Contacts'|_ }}</a>
    </li>
    <li class="{{ this.page.id == 'user' ? 'active' : '' }}">
        <a href="{{ 'user'|page }}">
            {{ 'User'|_ }}
            <span id="user"></span>
        </a>
    </li>
    <li class="nav-item">
        <a id="logout" href="#">{{ 'Logout'|_ }}</a>
    </li>
    <li class="nav-item float-right">
        <a>{% component 'localePicker' %}</a>
    </li>
</ul>

{% put scripts %}
    <script src="{{ 'assets/javascript/header.js'|theme }}"></script>
    <script>
        $(document).ready(() => {

            $.get('/user/get').then((response) => {
                const user = response.user;

                $('#user').text(`[ ${ user.name } ]`);
            });
        });
    </script>
{% endput %}
