<div id="about">
    <div class="container">
        <p id="about-body">
            Our accounting system is a comprehensive set of advanced tools. Intuitive and easy to learn interface will allow you to use the toolkit in full already from the first days of work. The unsurpassed speed of data processing is several times stronger than the strongest competitors, and due to excellent optimization all these tools do not require expensive equipment for operation. All the operated data is stored in the database in encrypted form, and all transactions are protected by additional encryption. With our system to make a transaction or generate a report - it's only a couple of clicks!
        </p>
    </div>
</div>

{% put styles %}
    <link href="{{ 'assets/css/about.css'|theme }}" rel="stylesheet">
{% endput %}
