<template>
  <div id="wrapper" class="enlarged">
    <Header/>
    <div class="content-page">
      <div class="content">
        <div class="container">
          <slot/>
        </div>
      </div>
      <Footer/>
    </div>
    <Sidebar/>
  </div>
</template>

<script>
  import Header from './partials/header';
  import Footer from './partials/footer';
  import Sidebar from './partials/sidebar';

  export default {

      components: {
          Header,
          Footer,
          Sidebar,
      },

      created() {

      },

      data() {

      },

      methods: {

      },
  };
</script>

<style lang="scss" scoped>
  .home-page {
    align-items: center;
    display: flex;
    font-weight: 300;
    height: 100%;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  img {
    margin: 20px;
  }

  a {
    display: block;
    font-size: 1.5rem;
    margin: 10px;
  }
</style>
