<template>
    <layout>
        <div class="reports">

        </div>
    </layout>
</template>

<script>
    import Layout from '../../layout/base';

    export default {
        name: 'reports',

        components: {
            Layout,
        },
    };
</script>

<style scoped>

</style>
