description = "Default layout"

[localePicker]
[session]
security = "user"
redirect = "login"
[header]
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>October CMS - {{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="OctoberCMS">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="generator" content="OctoberCMS">
        <link rel="icon" type="image/png" href="{{ 'assets/images/october.png'|theme }}">
        <link href="{{ 'assets/css/vendor.css'|theme }}" rel="stylesheet">
        <link href="{{ 'assets/css/theme.css'|theme }}" rel="stylesheet">
        <link href="{{ 'assets/css/bootstrap.min.css'|theme }}" rel="stylesheet">
        <link href="{{ 'assets/css/sm-core-css.css'|theme }}" rel="stylesheet">
        <link href="{{ 'assets/css/sm-theme/theme.css'|theme }}" rel="stylesheet">
        <link href="{{ 'assets/css/header.css'|theme }}" rel="stylesheet">
        <link href="{{ 'assets/css/footer.css'|theme }}" rel="stylesheet">
        {% styles %}
    </head>
    <body style="background-color: #e9ecef;">

        <!-- Header -->
        <header id="layout-header">
           {% component 'header' %}
        </header>

        <!-- Content -->
        <section id="layout-content">
            {% page %}
        </section>

        <!-- Footer -->
        <footer id="layout-footer">
            {% partial 'site/footer' %}
        </footer>

        <!-- Scripts -->
        <script src="{{ 'assets/vendor/jquery.js'|theme }}"></script>
        <!--<script src="{{ 'assets/vendor/bootstrap.js'|theme }}"></script>-->
        <script src="{{ 'assets/javascript/app.js'|theme }}"></script>
        <script src="{{ 'assets/javascript/bootstrap.min.js'|theme }}"></script>
        <script src="{{ 'assets/javascript/jquery.smartmenus.min.js'|theme }}"></script>
        <script src="{{ 'assets/javascript/jquery.form-validator.min.js'|theme }}"></script>
        {% framework extras %}
        {% scripts %}

    </body>
</html>
