#about {
    height: 800px;
    font-size: 16px;
    background-image: url('../../assets/images/image_1.jpg');
}
#about .container {
    width: 40%;
    padding: 150px 0 0 0;
}
#about #about-body {
    font-size: 32px;
    text-align: justify;
    text-shadow: 0 0 10px whitesmoke;
}
