#contacts {
    height: 800px;
    font-size: 16px;
    background-image: url("../../assets/images/image_1.jpg");
}
#contacts .container {
    width: 20%;
}
#contacts .container #contacts-form {
    margin-top: 150px;
    background-color: rgba(245,245,245,0.5);
    box-shadow: 0 0 20px whitesmoke;
    padding: 20px;
}
