#header-block {
    height: 800px;
    background-image: url('../images/image_1.jpg');
}
#header-block .jumbotron {
    background-color: transparent;
}
#header-block .jumbotron h1 {
    margin-top: 250px;
    text-align: center;
    font-size: 90px;
    text-shadow: 2px 2px 5px lightgray;
}
#header-block .jumbotron p {
    font-size: 32px;
    text-shadow: 2px 2px 5px lightgray;
}

#transcription-block .jumbotron {
    box-shadow: inset 0 10px 20px -7px rgba(0,0,0,0.4);
}
#transcription-block .jumbotron .container {
    width: 60%;
    text-align: justify;
    background-color: rgba(255,255,255,0.2);
    box-shadow: 0 0 20px rgba(255,255,255,0.4);
}
#transcription-block .jumbotron .container .features-title {
    text-align: center;
    font-size: 40px;
}
#transcription-block .jumbotron .container .list-group a {
    cursor: pointer;
    padding: 25px;
}
#transcription-block .jumbotron .container .list-group a div h5 {
    font-size: 32px;
}

#features-block {
    background-color: #e9ecef;
    margin-bottom: 20px;
}
#features-block .jumbotron .container {
    width: 60%;
}
#features-block .jumbotron .container .features-title {
    text-align: center;
    font-size: 40px;
}
#features-block #carousel {
    box-shadow: 0 0 20px rgba(255,255,255,0.4);
}
#features-block #carousel:before,
#features-block #carousel:after {
    margin: 0 25%;
    height: 400px;
    width: 50%;
}
#features-block #carousel .carousel-indicators {
    width: 70%;
}
#features-block #carousel .carousel-indicators li {
    background-color: whitesmoke;
}
#features-block #carousel .carousel-indicators li:before,
#features-block #carousel .carousel-indicators li:after {
    color: whitesmoke;
    text-shadow: 0 5px 5px lightgray;
}
#features-block #carousel .carousel-item {
    height: 400px;
    color: whitesmoke;
    text-shadow: 0 5px 5px lightgray;
}
#features-block #carousel .carousel-item img {
    width: 100%;
    max-height: 400px;
    margin: auto;
}
#features-block #carousel .carousel-item .carousel-caption h3 {
    font-size: 32px;
}

#footer-block {
    margin-top: 50px;
    height: 300px;
    background-image: url('../images/image_1.jpg');
    background-size: 100%;
}
#footer-block .jumbotron {
    background-color: transparent;
    box-shadow: inset 0 20px 20px -7px rgba(0,0,0,0.4);
}
#footer-block .jumbotron .container {
    text-align: center;
}
#footer-block .jumbotron .container #contacts {
    margin-top: 100px;
    font-size: 24px;
    border-radius: 20px;
    padding: 5px 25px;
    color: dodgerblue;
    text-shadow: 0 5px 5px whitesmoke;
    box-shadow: 0 0 15px whitesmoke;
}
#footer-block .jumbotron .container #contacts:hover {
    text-shadow: 0 5px 5px lightblue;
}
#footer-block .jumbotron .container #contacts a {
    text-decoration: none;
}
