<template>
    <layout>

    </layout>
</template>

<script>
    import Layout from '../../layout/base';

    export default {
        name: 'transactions',

        components: {
            Layout,
        },
    };
</script>

<style scoped>

</style>
